Source: dash-to-panel
Section: gnome
Priority: optional
Maintainer: Michael Schaecher <michaelschaecher@mlstidbits.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/MLSTidbits/dash-to-panel
#Vcs-Browser: https://salsa.debian.org/debian/arcmenu
Vcs-Git: https://github.com/MLSTidbits/dash-to-panel.git

Package: dash-to-panel
Architecture: any
Multi-Arch: foreign
Depends:
 gnome-shell (>= 46), arcmenu
Suggests:
 gnome-tweaks, gnome-extensions-manager
Description: Dash to Panel GNOME Shell Extension
 Dash to Panel is a popular GNOME Shell extension that combines the
 dash and the top panel into a single, customizable panel located at
 the bottom of the screen. It provides a Windows-like taskbar experience,
 allowing users to manage their applications and system tray more
 efficiently.
 .
 Features include:
  - Application launching and switching
  - System tray integration
  - Customizable appearance and behavior
  - Support for multiple monitors
 .
 This package contains the Dash to Panel extension for GNOME Shell.
